<header class="site-header">
  <div class="container navbar-container">
    <a href="/" class="logo-wrapper">
      <img src="../../static/assets/logo.png" alt="Taskify logo" class="logo" />
      <span class="nav-title">Taskify</span>
    </a>

    <nav>
      <ul class="nav-items">
        <li><a href="#">Features</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">For Teams</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </nav>
    <div class="nav-buttons">
      <% if (username) { %>
        <a href="/dashboard" class="btn1 nav-btn">Dashboard</a>
        <form method="post" action="/logout" class="nav-logout-form">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="btn2 nav-btn">Log Out</button>
        </form>
      <% } else { %>
        <a href="/signup" class="btn1 nav-btn">Sign Up</a>
        <a href="/login" class="btn2 nav-btn">Log In</a>
      <% } %>
    </div>
  </div>
</header>
