<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../static/styles/signup.css" />
  <link rel="stylesheet" href="../static/styles/partials/cookie-banner.css" />
  <title>SignUp</title>
</head>

<body>
  <section class="section signup-section">
    <div class="container signup-container">
      <div class="main">
        <% if (error) { %>
          <div class="auth-error"><%= error %></div>
        <% } %>
        <input type="checkbox" id="chk" aria-hidden="true" />

        <div class="signup">
          <form method="post" action="/signup">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <label for="chk" aria-hidden="true">Sign up</label>
            <div class="signup-username">
              <input type="text" name="SignUpUsername" placeholder="User name" aria-label="User name" required="true" />
            </div>
            <div class="signup-email">
              <input type="email" name="SignUpEmail" placeholder="Email" aria-label="Email" required="true" />
            </div>
            <div class="signup-password">
              <input type="password" name="SignUpPassword" placeholder="Password" aria-label="Password" required="true" />
            </div>
            <div>
              <input class="button" name="SignUpSubmit" type="submit" value="Sign up" />
            </div>
          </form>
        </div>
        <div class="login">
          <form method="post" action="/login">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <label for="chk" aria-hidden="true">Login</label>
            <div class="signup-email">
              <input type="email" name="LoginEmail" placeholder="Enter your email " aria-label="Email" required="true" />
            </div>
            <div class="signup-password">
              <input type="password" name="LoginPassword" placeholder="Enter password" aria-label="Password" required="true" />
            </div>
            <!-- <button href="/auth">Log In</button> -->
            <div>
              <input class="button" name="LoginSubmit" type="submit" value="Login" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include("../views/partials/cookie-banner.ejs") %>
  <script src="/static/js/cookie-banner.js" defer></script>
</body>

</html>
